@media(max-width:1200px){
	*{
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;

	}
	html{
		margin: 0;
		padding: 0;
	}

.bgcontainer{
  display: none;
}

.navbar{
  display: none;
}

header{
    padding: 10px;
    height: 30px;
}
nav{
    height: 50px;
}
/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0;
    margin-top: 0px;
    justify-content: right;
    font-family: Product Sans;
    font-size: 20px;
    align-items: center;
}
.nav-links li a{
    text-decoration: none;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        color: #000;
        border-radius: 50px;
}
.nav-links li a:hover {
    background-color: #e8f0fe;
}
.nav-links li {
    position: relative;
    margin-left: 10px;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:4px;
    background: #000;
    margin: 5px;
    border-radius: 50px;
    transition: all 0.2s ease;
}
.hamburger{
    display: none;
}
.container{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  width: 100%;
  max-width: 100%;
  margin-left: 0px;
  height: fill;
  font-family: Product sans;
}
.container .home{
  position: relative;
  height: fill;
  max-height: fill;
}
.container .about{
  position: relative;
  height: fill;
  max-height: fill;
  padding-bottom: 300px;
}
.container .skills{
  position: relative;
  height: fill;
  max-height: fill;
  width: fill;
  max-width: fill;
  display: block;
  justify-content: center;
}
.container .skills .pskills{
  position: relative;
  height: fill;
  max-height: fill;
  margin-top: 50px;
}
.container .skills .sskills{
  position: relative;
  height: fill;
  max-height: fill;
}
.container .skills .intrest{
  position: relative;
  height: fill;
  max-height: fill;
}

.container .works{
  position: relative;
  height: fill;
  max-height: fill;  
}
.container .imgfolio{
  position: relative;
  height: fill;
  max-height: fill;
}

.container .contact{
  position: relative;
  height: fill;
  max-height: fill;
}











.container .home{
  height: fill;
  max-height: fill;
  padding-bottom:50px ;
}
.content{
  padding-top: 450px;
  padding-left: 50px;
  font-family: Product Sans;
}
.headline .text{
  position: absolute;
  display: block;
  font-family: Product Sans;
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  padding-top: 0px;
}
.home .context .title{
  position: absolute;
  margin-top: -140px;
  margin-left: 210px;
  font-size: 4rem;
}

.home .context .subtitle{
  position: absolute;
  font-size: 30px;
  margin-top: -70px;
  margin-left: 1px;
}

.social{
  margin-top: 0px;
  margin-left: -20px;
  padding: 0;
}
.social ul{
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Product Sans;
}

.social ul li{
  text-decoration: none;
  padding: 20px;
  margin: 0;
}

.social ul li a{
  color: #000;
}
.homedoodle{
  position: relative;
  transform: scale(1.2);
}

.homeanime{
      position: absolute;
      left:50%;
      transform: translate(-50%,0);
      top: -550px;
}






.container .about{
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: fill;
  font-family: Product sans;
}
.container .about .title{
  position: absolute;
  display: flex;
  font-size: 80px;
  left: 50%;
  transform: translate(-50%,0);
  font-family: Product sans;
  margin-top: 20px;
}


.about .conxt{
  position: relative;
  margin-top: 5px;
  display: block;
  height: 300px;
  width: 300px;
  border: 5px sloid #3c4043;
  border-radius: 45px;
  padding-right: 0;
}

.about .image{
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  border:5px solid #0784b5;
  border-radius: 45px;
}


.about .aboutplace{
}
.about .aboutcontainer{
  position: relative;
  display: flex;
  height: 100%;
  max-height: 1000px;
  width: 100%;
  max-width: 1200px;
  border-radius: 50px;
  border: 5px solid #cadeef;
  background: #cadeef;
  margin:200px 50px 0px 50px ;
}

.about .intro{
  position: relative;
  display: block;
  padding: 50px 30px 50px 30px;
  margin-right: 5px;
  color: #fff;
  box-sizing: border-box;
  border: 5px solid #0784b5;
  border-radius: 45px;
  margin-left: 0;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  font-size: 20px;
  background: #0784b5;
}

.about .footer{
  position: relative;
  display: flex;
  left: 50%;
  transform: translate(-50%,0);
  text-align: center;
  font-size: 30px;
  width: 900px;
  max-width: 1000px;
  font-weight: 900;
  margin-top: 100px;
}




.container .skills .pskills{
  position: relative;
  display: flex;
  justify-content: center;
}

.container .skills .title{
  position: relative;
  display: block;
  left: 0;
  font-size: 80px;
  font-family: Product sans;
}

.skills .pskills{
  max-width: fill;
  width: fill;
  display: flex;
  transform: scale(0.5);
}

.skills .pskills .ptitle{
  position: absolute;
  display: block;
  font-size: 60px;
}

.pskills .pbars{
  margin-top: 120px;
  position: relative;
  display: flex;
  height: fill;
  width: fill;
  justify-content: center;
  padding-bottom: 100px;
}











}





@media(max-width:800px){

  .container .about{
    height: 200%;
  max-height: 1300px;
  background: #222;
  padding-bottom: 100px;
  overflow: hidden;
  }

  .about .conxt{
    left: 50%;
    transform: translate(-50%,0);
  }

.about .aboutcontainer{
  display: block;
  margin: 0px 20px 0px 20px;
}  

.about .aboutplace{
  margin-top: 200px;
}
.about .footer{
  font-size: 30px;
  width: 600px;
}
nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.2s ease;
    }
    .nav-links{
        position: fixed;
        background: #fff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
        margin-top: 30px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
        margin-top: 200px;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    li.fade{
        opacity: 1;
    }



.content{
  padding-top: 500px;
  padding-left: 30px;
  width: fill;
  font-family: Product Sans;
}

.home .context .title{
  position: absolute;
  margin-top: -80px;
  margin-left: -2px;
  font-size: 3rem;
  padding-right: 20px;
}

.home .context .subtitle{
  position: absolute;
  font-size: 20px;
  width: 200px;
  margin-top: -30px;
  padding-right: 20px;
  margin-left: 1px;
}

.social{
  margin-top: 40px;
  margin-left: -20px;
  padding: 0;
}
.social ul{
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Product Sans;
  margin-left: 5px;
}

.social ul li{
  text-decoration: none;
  padding: 20px 15px 10px 15px;
  margin: 0;
}

.social ul li a{
  color: #000;
}
.homedoodle{
  position: relative;
  transform: scale(1.6);
}

.homeanime{
      position: absolute;
      left:50%;
      transform: translate(-50%,0);
      top: -375px;
    }

    .svgstatic svg{
      position: relative;
      height: 300px;
      width: 100%;
      padding-top: 0;
      animation: svgstatic 3s linear infinite;
    }

    @keyframes svgstatic{
      0%{
        padding-top: 0;
      }
      50%{
        padding-top: 5%;
      }
      100%{
        padding-top: 0;
      }
    }

    .svganime1{
      position: absolute;
      margin-top: 4%;
      margin-left: 5%;
    }

    .svganime1 svg{
      position: relative;
      height: 300px;
      width: 100%;
    }

    .svganime2{
      position: absolute;
      margin-top: 55%;
      margin-left: 55%;
    }

    .svganime2 svg{
      position: relative;
      height: 30px;
      width: 100%;
      animation: svganime2 4s linear infinite;
    }

    @keyframes svganime2{
      0%{
        padding-top: 0;
        transform: rotate(0deg);
      }
      50%{
        padding-top: 10%;
        transform: rotate(10deg);
      }
      100%{
        padding-top: 0;
        transform: rotate(0deg);
      }
    }



    .svganime3{
      position: absolute;
      margin-top: 83%;
      margin-left: 27%;
    }

    .svganime3 svg{
      position: relative;
      height: 35px;
      width: 70px;
      animation: svganime3 2.6s linear infinite;
    }

    @keyframes svganime3{
      0%{
        padding-left: 0;
      }
      50%{
        padding-left: 8%;
      }
      100%{
        padding-left: 0;
      }
    }


    .svganime4{
      position: absolute;
      width: 130px;
      margin-left: 10%;
    }

    .svganime4 svg{
      position: relative;
      height: 280px;
      width: 100%;
      animation: svganime4 2.6s linear infinite;
    }

    @keyframes svganime4{
      0%{
        padding-left: 0;
        transform: rotate(0deg);
      }
      50%{
        transform: rotate(7deg);
      }
      100%{
        transform: rotate(0deg);
      }
    }



    .svganime5{
      position: absolute;
      width: 40px;
      margin-top: 63%;
      margin-left: 77%;
    }

    .svganime5 svg{
      position: relative;
      height: 100px;
      width: 100%;
      animation: svganime5 2.6s linear infinite;
    }

    @keyframes svganime5{
      0%{
        padding-left: 0;
        transform: rotate(0deg);
      }
      50%{
        transform: rotate(10deg);
      }
      100%{
        transform: rotate(0deg);
      }
    }






}
